.btn_start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    pointer-events: auto;
   }
  
    .btn_start.passive{
      opacity: 0;
      pointer-events: none;
    }
  
   .btn_start button{
    border:none;
    padding: 18px;
    width: 150px;
    border-radius: 4px;
    background-color: hwb(54 5% 9%);
    color: white;
    cursor: pointer;
   }
  
   .cart{
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 440px;
    border: 1px solid #ccc;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
   }
  
   .cart.active{
    opacity: 1;
   pointer-events: auto;
   }
  
  .cart-header {
    position: relative;
    padding: 10px 15px 5px;
    background-color: #ece7e7;
    height: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #ccc;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
   .cart-body{
    padding: 10px;
   }
  
   .timeline{
    position: absolute;
     left: 0;
     bottom: 0;
     height: 4px;
     background-color: yellow;
   }
  
    .question{
      padding: 10px 0;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  
    .option{
      display: flex;
      justify-content: space-between;
      border: 1px solid #ccc;
      padding: 5px;
      margin-bottom: 8px;
      cursor: pointer;
    }
  
  
    .cart2{
      display: none;
    }
  
    footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 15px;
    }
  
    footer button{
      padding: 10px;
      width: 130px;
      border: none;
      border-radius: 5px;
      background-color: rgb(238, 238, 38);
      cursor: pointer;
    }
  
    .cart-two{
      width: 400px;
      height: 300px;
      border-radius: 10px;
      border:1px solid hwb(201 55% 4%);
      text-align: center;
      position: absolute;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 0;
      pointer-events: none;
    }
  
    .cart-two.active{
      opacity: 1;
      pointer-events: auto;
    }
  
    .button button{
      border:none;
      padding: 13px;
      width: 130px;
      border-radius: 4px;
      background-color: hwb(201 55% 4%);
      color: white;
      margin-left: 5px;
     }
  
    i{
      color:rgb(141, 209, 246);
      font-size: 100px;
      margin-top: 40px;
    }
  
    #sorusayi{
      display: inline-block;
      padding: 20px;
    }
  
    .option:hover{
      background-color: rgb(248, 248, 38);
    }
  